<img src="https://drive.google.com/uc?export=view&id=1249lwqHObZj1y3PK_XM8ak5p7UinVV5D" width="100%"></img>

# **SQL y Pandas**
---

En este notebook veremos cómo podemos integrar bases de datos SQL con `pandas`.

Recuerde que `pandas` es una librería que nos permite la manipulación de datos tabulares en _Python_ en forma de `DataFrames`. Este tipo de datos resulta ser bastante cercano a las tablas de SQL, por lo cual son dos herramientas altamente compatibles.

Para este ejemplo, usaremos la base de datos en [bit.io](https://bit.io):

In [1]:
!pip install psycopg2
!pip install sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.9.5)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.42)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.13.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3.post0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.10.0)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

Debe pegar a continuación lo que aparece en el campo `Postgres Connection` en [bit.io](https://bit.io):

In [3]:
PG_STRING = "postgresql://hcquinteroz:v2_3vDhb_Awd5y3bW7eXQHCppgDpJVjp@db.bit.io/hcquinteroz/mlds3"

Para este ejemplo usaremos `sqlalchemy`, el cual es un [object-relational mapping (ORM)](https://en.wikipedia.org/wiki/Object%E2%80%93relational_mapping) para _Python_ que soporta distintos motores de bases de datos.

`sqlalchemy` permite mantener un registro programático (orientado a objetos) de los esquemas de las tablas y las consultas. Con esto conseguimos una mejor validación de tipos e integración con distintas aplicaciones.

Puede ver más información sobre `sqlalchemy` en [éste enlace](https://www.sqlalchemy.org/library.html).

En este caso, usaremos un `engine` de `sqlalchemy` como objecto de conexión para la integración con `pandas`.

> **Nota**: pandas puede usar cualquier objeto de conexión de cualquier driver de base de datos (`psycopg2`, `sqlite3`, entre otros), sin embargo, `sqlalchemy` valida tipos y suele ser más útil para la integración.

In [4]:
engine = create_engine(PG_STRING)

## **1. Escritura**
---

Para la escritura, vamos a usar la función `df.to_sql` de pandas, primero vamos a cargar un [conjunto de datos](https://www.kaggle.com/datasets/kevinmorgado/us-energy-generation-2001-2022) sobre el consumo de energía de distintas fuentes en Estados Unidos:

In [5]:
df_consumo = pd.read_parquet(
        "https://drive.google.com/uc?export=view&id=1zSPMgHJsWHDmN_QDa_ycd5wamZOtOVzl"
        )
df_estados = pd.read_parquet(
        "https://drive.google.com/uc?export=view&id=1UlAexUSaolL1EhpOk2bsfuCYkBx0XsFZ"
        )

Veamos columnas y tipos de cada dataframe:

In [6]:
df_consumo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76299 entries, 409889 to 486187
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   anio            76299 non-null  int64
 1   mes             76299 non-null  int64
 2   codigo_estado   76299 non-null  object
 3   tipo_productor  76299 non-null  object
 4   tipo_energia    76299 non-null  object
 5   megawatthour    76299 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 4.1+ MB

In [7]:
df_estados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nombre_estado  51 non-null     object
 1   abreviacion    51 non-null     object
 2   codigo_estado  51 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

Ahora, vamos a cargar estas tablas dentro de la base de datos de _PostgreSQL_:

In [8]:
with engine.connect() as conn:
    df_consumo.to_sql(
            name="consumo",
            con=conn,
            if_exists="replace",
            index=False,
            method="multi"
            )

In [9]:
with engine.connect() as conn:
    df_estados.to_sql(
            name="estados",
            con=conn,
            if_exists="replace",
            index=False,
            method="multi"
            )

Debemos especificar:

* `name`: nombre de la tabla.
* `con`: objeto de conexión.
* `if_exists`: específica que se debe hacer cuando la tabla ya existe, puede ser `'fail'` (error), `'replace'` (reemplaza la tabla) o `'append'` (agrega los valores al final de la tabla).
* `index`: específica si se guarda el índice como una columna.
* `method`: método para guardar los registros, puede ser `None` (registro a registro) o `'multi'` (batch o varios registros al tiempo).

## **2. Lectura**
---

Con el método `pd.read_sql` podemos extraer una consulta de SQL en forma de dataframe, veamos un ejemplo:

In [10]:
query = """
SELECT
    anio,
    AVG(megawatthour) AS promedio_energia
FROM
    consumo
GROUP BY
    anio
HAVING
    anio >= 2020
;
"""

In [11]:
with engine.connect() as conn:
    data = pd.read_sql(query, conn)
data

   anio  promedio_energia
0  2021      1.295111e+06
1  2020      1.259574e+06

De esta forma, puede realizar operaciones costosas de forma persistida (disco) desde SQL y hacer depuraciones finales desde pandas (memoria).

Por ejemplo, la siguiente consulta calcula el promedio de energía por estado y por año:

In [12]:
query = """
SELECT
    l.anio AS anio,
    r.nombre_estado AS estado,
    AVG(l.megawatthour) AS promedio_energia
FROM
    consumo AS l
INNER JOIN
    estados AS r
ON
    l.codigo_estado = r.codigo_estado
GROUP BY
    anio, estado
;
"""

In [13]:
with engine.connect() as conn:
    data = pd.read_sql(query, conn)
data

     anio         estado  promedio_energia
0    2019        Alabama      1.330344e+06
1    2019         Alaska      5.781755e+04
2    2019        Arizona      1.051407e+06
3    2019       Arkansas      5.507940e+05
4    2019     California      1.067641e+06
..    ...            ...               ...
148  2021       Virginia      6.245630e+05
149  2021     Washington      8.266873e+05
150  2021  West Virginia      8.307666e+05
151  2021      Wisconsin      4.365245e+05
152  2021        Wyoming      5.196509e+05

[153 rows x 3 columns]

## **3. Recursos Adicionales**
---

* [bit.io y Pandas](https://docs.bit.io/docs/connecting-via-pandas).
* [Pandas y SQL](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html)

## **4. Créditos**
---

**Profesor**

- [Jorge E. Camargo, PhD](https://dis.unal.edu.co/~jecamargom/)

**Diseño, desarrollo del notebook y material audiovisual**

- [Juan S. Lara MSc](https://www.linkedin.com/in/juan-sebastian-lara-ramirez-43570a214/)

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*